/**
*Design du composant AppComponent
**/
table {
    tbody {
        background-color: aquamarine;
        td {
            &.strikeOut {
                text-decoration: line-through;
            }
        }
    }
}

div {
    h1{
        background-color: cornsilk;
    }
}

footer {
    background-color:coral;
}